*{
    box-sizing: border-box;
    
}
body{
    margin: 0;
    padding: 0;
    font-size: 12px;
    background-color: rgb(252, 218, 175);
}
nav {
    background-color: rgb(248, 127, 14);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav a{
    flex-grow: 1;
    padding: 0.5em 0.9em;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    text-align: center;
    font-weight: 200;
}
a:hover{
    background-color: white;
    color: rgb(248, 127, 14);
}

footer{
    
    font-size: 1.4em;
    width:100%;
    text-align: center;
    color: rgb(116, 76, 2);
    padding: 5px;
    background-color: rgb(252, 218, 175) ;
    margin-top: 10px;
}
.hrule{
    border:1px solid rgb(248, 127, 14) ;
}
.card h1{
    font-size: 3rem;
    color: rgb(253, 166, 3);
    font-weight: 900;
    text-align: center;
}
.card .div1{
    width:40%;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:90%;
    margin: 20px auto;
    flex-wrap: wrap;
}
.box img{
    width:90%;
    height:90%;
    border-radius: 0.4rem;
}
.box img:hover{
    box-shadow: 5px 5px 7px  rgb(97, 75, 30);
   
}

.box{
    width:60%;
    height: 400px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
}
.list p{
    font-size:1.3rem;
    color: rgb(153, 101, 5);
}
.list{
    margin:10px;
    padding: 10px;
}
.list ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.list li{
    background-color:rgb(248, 127, 14) ;
    color: white;
    padding: 15px 30px ;
    margin:10px;
    font-size: 1rem;
    border-radius: 0.4rem;
    text-align: center;
}
.list li:hover{
    box-shadow: 5px 5px 7px  rgb(97, 75, 30);
}
.but{
    display: flex;
    justify-content: center;
    align-items: center;
}
.but button{
    font-size: 1rem;
    background-color: rgb(9, 197, 9);
    color: white;
    padding: 10px 25px;
    margin:0px 10px;
    border-radius: 0.4rem;
    border:none
}
.but button:hover{
    box-shadow: 5px 5px 7px  rgb(97, 75, 40);
}
@media screen and (max-width:890px) {
    .card{
        width:100%;
    }
}
@media screen and (max-width:790px) {
    .box{
        width:50%;
        height:350px;
    }
    .card{
        width:90%;
    }
}
@media screen and (max-width:660px){
    .div1{
        width:30%;

    }
    .div1 h1{
        font-size: 2.5rem;
        margin:10px;
    }
    .list p{
        font-size: 1rem;
    }
}
@media screen and (max-width:590px){
    .card{
        width:100%;
    }
    .div1 h1{
        font-size: 2.3rem;
        margin:10px;
    }
    .list ul{
        flex-direction: column;
    }
    
}
@media screen and (max-width:530px){
   .card{
    flex-direction: column;
   }
   .div1{
    width:90%;
   }
   .div1 h1{
    font-size: 1.8rem;
    margin:10px;
}
   .box{
    width:90%;
    margin:15px auto;
   }
}
@media screen and (max-width:460px)
{
    nav{
        flex-direction: column;
        background-color: rgba(248, 127, 14,0.8);
    }
    .div1 h1{
        font-size: 1.5rem;
        margin:10px;
    }
}